* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.body {
    font-family: 'Lato', sans-serif;
    position: relative;
}

/* style of main elements on page*/

button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    height: 18%;
    min-height: 35px;
    width: 40%;
    background-color: rgb(188, 46, 58);
    color: #fff;
    border: none;
    border-radius: 50px;
    outline: none;
}

button:hover {
    background-color: rgb(100, 36, 45);
}

h1,
h3 {
    color: rgb(73, 73, 73);
}

h1 {
    font-family: 'Coda Caption', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-bottom: 1em;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}



/*style of main menu*/

.main_nav {
    position: fixed;
    display: block;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 2em;
    width: 100vw;
    height: 10vh;
    background: rgb(73, 73, 73);
    color: white;
    z-index: 2;
}

.nav_label {
    display: block;
    text-align: center;
}

.nav_content {
    height: 100vh;
    display: none;
    background-color: #fff;
    color: black;
}

.nav_content li {
    text-align: center;
}

.active {
    display: flex;
    flex-direction: column;
}

.nav_content a {
    text-decoration: none;
}

.nav_content a:visited {
    text-decoration: none;
    color: black;
}


/* main content */
main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 10vh;
}

.header,
.who,
.what,
.how,
.team,
.client,
.contact {
    padding: 1em;
}

/* header */
.header {
    position: relative;
    height: 30vh;
    background-image: url(images/header_bg.png);
    background-size: cover;
    background-position: 50% 50%;
}

.header button {
    background-color: #fff;
    color: black;
    position: absolute;
    top: 75%;
    left: 15%;
}

.header button a:visited {
    text-decoration: none;
    color: black;
}

.header button:hover {
    background-color: rgb(66, 66, 66);
}

.header button a:hover {
    color: white;
}

.model {
    position: absolute;
    background-image: url(images/header_model.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 50%;
}

/* who we are */

.who {
    font-family: 'Lato', sans-serif;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.who_text {
    display: flex;
    flex-direction: column;
}

.who_img {
    background-image: url(images/who_laptop.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 55vw;
    height: 30vw;
}

/* 
.who_bg {
    position: absolute;
    background-color: rgb(23, 23, 23);
    width: 80vw;
    height: 80vw;
    transform: rotate(45deg);
    top: -80%;
    left: 40%;
    z-index: -1;
} */

/* what we do */
.what {
    background-color: rgb(245, 245, 245);
    font-family: 'Lato', sans-serif;
}

.what_container {
    display: flex;
    flex-wrap: wrap;
}

.what_item {
    display: flex;
    width: 50%;
}

.what_item div:nth-child(1) {
    position: relative;
    background-color: rgb(188, 46, 58);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.what .what_item i {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
}

.what_item div:nth-child(2) {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    width: 80%;
}

/* how we works */
.how {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how_text {
    text-align: center;
}

.how1,
.how2,
.how3 {
    display: inline-block;
    background-color: black;
    width: 20vw;
    height: 20vw;
    transform: skewX(-25deg);
    overflow: hidden;
}

.how1::before,
.how2::before,
.how3::before {
    content: "";
    display: block;
    width: 35vw;
    height: 35vw;
    background-size: cover;
    transform: skewX(25deg);
}

.how1::before {
    background-image: url(images/how1.png);
}

.how2::before {
    background-image: url(images/how2.jpg);
}

.how3::before {
    background-image: url(images/how_img3.png);
}

/* our creative team */
.creative_team {
    background-color: rgb(245, 245, 245);
}

.team_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

/* arrow */
.arrow1,
.arrow2 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
}

.arrow1 {
    border-right: 20px solid rgb(66, 66, 64);
}

.arrow2 {
    border-left: 20px solid rgb(66, 66, 64);
}

/* team photos */

.team_imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active_img {
    position: relative;
}

.first,
.third {
    display: none;
}

.team::before {
    content: "";
    display: block;
    width: 50vw;
    height: 50vw;
    background-size: cover;
    transform: rotate(-45deg) translateY(-65px);
}

.team_item1 .team::before {
    background-image: url(images/team1.png);
}

.team_item2 .team::before {
    background-image: url(images/team2.png);
}

.team_item3 .team::before {
    background-image: url(images/team3.png);
}

.team {
    width: 25vw;
    height: 25vw;
    border: solid 10px #fff;
    box-shadow: 1px 1px 15px 5px rgb(0, 0, 0, 0.2);
    transform: rotate(45deg);
    overflow: hidden;
    margin-bottom: 5vh;
}

.team_h1,
.team_h3 {
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;

}

.team_h1 {
    bottom: 3vh;
    left: 50%;
    background-color: rgb(0, 0, 0);
    width: 35vw;
    height: 4vh;
    transform: skewX(45deg) translateX(-50%);
}

.team_h3 {
    bottom: 0;
    left: 50%;
    background-color: rgb(188, 46, 58);
    width: 25vw;
    height: 3.5vh;
    transform: skewX(45deg) translateX(-30%);
}


.team_h1 p,
.team_h3 p {
    text-align: center;
    transform: skewX(-45deg)
}


/* what client says */

.client {
    font-family: 'Lato', sans-serif;
    position: relative;
}

.client_container {
    display: flex;
    margin-top: 2.5vh;
}

.client_container span {
    width: 50%;
}

.client_main_container {
    position: relative;
    width: 25vw;
    height: 25vw;
    border: solid 10px #fff;
    box-shadow: 1px 1px 15px 1px rgb(0, 0, 0, 0.2);
    transform: rotate(45deg);
    overflow: hidden;
    margin: 8vw;
}

.client_main_img {
    width: 40vw;
    height: 40vw;
    background-image: url(images/client1.png);
    background-size: cover;
    transform: rotate(-45deg) translateY(-20%);
}

.client_img {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.client_img1,
.client_img2,
.client_img3 {
    width: 10vw;
    height: 10vw;
    border: solid 5px #fff;
    box-shadow: 1px 1px 15px 1px rgb(0, 0, 0, 0.2);
    transform: rotate(45deg);
    overflow: hidden;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    cursor: pointer;
}

.client_img1::before,
.client_img2::before,
.client_img3::before {
    content: "";
    display: block;
    width: 15vw;
    height: 15vw;
    background-size: cover;
    transform: rotate(-45deg) translateY(-12px);
}


.client_img1::before {
    background-image: url(images/client1.png);
}

.client_img2::before {
    background-image: url(images/team2.png);
}

.client_img3::before {
    background-image: url(images/team3.png);
}

/* contact */

.contact::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100%;
    z-index: -2;
}

.contact {
    position: relative;
}

.contact::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100%;
    background-image: url(images/contact_img.png);
    background-size: cover;
    background-position: 50% 15%;
    z-index: -1;
    opacity: 0.15;
}

.contact_main {
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.contact_main>div {
    padding-top: 3vh;
}

.contact_main>div>p {
    text-align: center;
}

.contact_main>div>span {
    display: block;
}

.contact_main>div>i::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

.contact_icon {
    color: #fff;
    display: flex;
    justify-content: space-around;
}

/* @media for screen */

@media screen and (min-width:450px) {

    body {
        margin: 0 auto;
    }

    .header,
    .who,
    .what,
    .how,
    .team,
    .client,
    .contact {
        padding-left: 15vw;
        padding-right: 15vw;
        padding-top: 8vh;
        padding-bottom: 10vh;
    }

    /* main element of page */

    h1 {
        font-size: 30px;
    }

    button {
        margin-top: 4vh;
        margin-bottom: 6vh;
        width: 20%;
    }

    /*style of main menu*/
    .main_nav {
        display: none;
    }

    /* .nav_label {
        display: none;
    }

    .nav_content {
        position: absolute;
        color: white;
        background-color: none;
        ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav_content li {
        display: inline-block;
    } */

    /* main content */
    main {
        padding-top: 0;
    }

    /* header */

    .header {
        height: 60vh;
    }

    .header button {
        height: auto;
    }

    /* who we are */

    .who {
        justify-content: flex-start;
    }

    .who_text h1 {
        text-align: left;
    }

    .who_text span {
        display: block;
        width: 50%;
    }

    .who_img {
        position: absolute;
        right: 0;
        height: 60%;
        width: 45%;
        background-position: 0 0;
    }

    /* what we do */
    .what_item {
        width: 30%;
        padding: 0.6em;
        padding-bottom: 2em;
    }

    .what_item div:nth-child(1) {
        width: 40px;
        height: 40px;
    }

    .what .what_item i {
        font-size: 20px;
    }

    /* how we works */

    .how {
        position: relative;
        align-items: flex-start;
        font-family: 'Lato', sans-serif;
    }

    .how_text,
    .how_text>h1 {
        text-align: left;
    }

    .how_text span {
        display: block;
        width: 25vw;
    }

    .how_img {
        position: absolute;
        right: -5%;
        top: 50%;
        transform: translateY(-50%);
    }

    .how1,
    .how2,
    .how3 {
        margin: 20px;
        width: 18vw;
        height: 30vh;
    }

    /* our creative team */

    .arrow1,
    .arrow2 {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    .arrow1 {
        border-right: 30px solid rgb(66, 66, 64);
    }

    .arrow2 {
        border-left: 30px solid rgb(66, 66, 64);
    }

    .team_item1,
    .team_item2,
    .team_item3 {
        position: relative;
        display: block;
        opacity: 0.6;
    }

    .team::before {
        width: 20vw;
        height: 20vw;
    }

    .team {
        display: block;
        width: 10vw;
        height: 10vw;
        padding: 0;
    }

    .team_h1 {
        bottom: 1.5vh;
        width: 10vw;
        height: 4vh;
    }

    .team_h3 {
        width: 8vw;
        height: 2.5vh;
    }

    .active_img {
        opacity: 1;
        z-index: 1;
        order: 1;
    }

    .active_img .team {
        width: 15vw;
        height: 15vw;
    }

    .first {
        order: 0;
    }

    .third {
        order: 2;
    }

    /* what client says */

    .client_main_container {
        margin: 0;
        width: 15vw;
        height: 15vw;
    }

    .client_main_img {
        width: 25vw;
        height: 25vw;
    }

    .client_container span {
        margin-left: 5vw;
    }

    .client_img {
        position: absolute;
        width: 40vw;
        bottom: 20%;
        right: 20%;
    }

    .client_img1,
    .client_img2,
    .client_img3 {
        width: 5vw;
        height: 5vw;
    }

    .client_img1::before,
    .client_img2::before,
    .client_img3::before {
        width: 10vw;
        height: 10vw;
        transform: rotate(-45deg) translateY(-25%);
    }

    /* contact */

    .contact_main {
        flex-direction: row;
        justify-content: space-around;
    }

    .contact_main>div {
        position: relative;
        padding-left: 50px;
    }

    .contact_main>div>p {
        text-align: left;
        font-size: 16px;
        font-weight: bold;
    }

    .contact_main>div>span {
        font-size: 12px;
    }

    .contact_main>div>i::before {
        left: 0;
        transform: translate(0, 50%);
        font-size: 30px;
    }


    .contact_icon {
        font-size: 1.6em;
        width: 40vw;
        margin: 0 auto;
        margin-bottom: 2em;
    }
}